
*{opacity: 0;
  animation: fadeIn 2s ease forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar{
          background-color: rgba(94, 8, 8, 0.695);
          margin: 10px;
          padding: 10px;
          font-size: 20px;
        }

.navbar ul {
    list-style: none;
    justify-content: flex-end;
    display: flex;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: .5s;
}
.navbar ul li:hover a{color:rgb(104, 74, 4);}

.details{
  display: flex;
  gap: 20px;
}

body{background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3Y4MjItYWV3LTI1LWpvYjU5N18xLmpwZw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }

/*main*/
.project {
    text-align: center;
    padding: 30px ;
}

.title {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom:40px;
    color: rgb(99, 22, 15);
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Timeline */
.timeline {
    position: relative;
    width: 90%;
    margin: auto;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 5px;
    background-color: rgb(99, 22, 15);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Containers */
.container {
    padding: 20px 40px;
    position: relative;
    width: 50%;
}

.container.left {
    right: 110px;
    opacity: 0;
    animation: left 2s ease forwards;
}


@keyframes left {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    20% {
        opacity: 0;
        transform: translateX(-20px);
    }
    40% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.container.right {
    left: 600px;
    opacity: 0;
    animation: right 3s ease forwards;
}


@keyframes right {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    20% {
        opacity: 0;
        transform: translateX(20px);
    }
    40% {
        opacity: 0;
        transform: translateX(20px);
    }
    60% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}




/* Cards */
.card {
    background-color: rgba(91, 6, 6, 0.378);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 22px 25px;
    border-radius: 12px;
    color: rgb(58, 14, 9);
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}


.card h3 {
    font-size: 20px;
    font-weight: 700;
}

.card span {
    font-size: 15px;
    font-weight: 600;
    display: block;
    margin-top: 4px;
}






